* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .clearfix {
    float: none;
    clear: both;
  }
  body {
    background: url("../img/fondo2.jpg");
    background-attachment: fixed;
  }
  #global {
    width: 65%;
    margin: 0px auto;
    padding: 30px;
    background: white;
  
  }
  #logo {
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
   
    color: white;
    text-align: center;
    width: 450px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
  }
  #Menu {
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }
  #Menu ul {
    display: flex;
    line-height: 46px;
    list-style: none;
  }
  #Menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
  }
  #Menu ul li:hover {
    background: #15178b;
  }
  #Menu ul li a {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  #posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
  }
  .post {
    padding: 5px;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10px;
  }
  .post h2 {
    margin-top: 20px;
    font-size: 30px;
    color: #333;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10;
  }
  .post p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .button-more {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70px;
  }
  #sidebar {
    font-family: Helvetica, Arial;
    width: 30%;
    float: right;
  }
  #sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
  }
  #sidebar img {
    width: 100%;
  }
  #sidebar p {
    text-align: justify;
  }
.bx-wrapper,
.bx-viewport{
  height: 250px !important;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
padding: 5px;
border-radius: 2px;
border: 1px solid #ccc;
width: 100%;
margin-bottom: 10px;
margin-top: 5px;


}
form input[type="submit"]{
background-color:#eeee;
padding: 5px;
border: 1px solid#333;
cursor: pointer;
}
footer{
  font-family: Arial, Helvetica;
  color: white;
  height:80px;
  background-color: rgba(51, 51,51, 0.7);
  margin:0px auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  line-height: 45px;
  align-items: center;
  text-align: center;
}
footer #redes
 {
  padding-left: 40px;
  cursor: pointer;
  padding-right: 40px;
  align-items:center
}


.stripe {
  background: linear-gradient(to right, #5f2c82, #49a09d);

}
#theme-selector{
  position: fixed;
  top: 50%;
  background: rgba(51, 51, 51, 0.7);
  width: 50px;
  height: 100px;
}
#to-green,
#to-red,
#to-blue{
width: 25px;
height: 25px;
border: 1px solid white;
display: block;
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;
cursor: pointer;
}
#to-red{
  background:tomato;
}
#to-green{
  background: #235e3d;
}
#to-blue{
  background: #15178b;
}

